/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #1A202C;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

/* Main Container */
.container {
  width: 700px;
  height: 100vh;
  text-align: center;
  padding: 20px 0px;
}
.data{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
